/* Importing the font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
}

/*Giving the wrapper minimum dimensions*/
.wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 10px 50px rgba(164, 156, 170, 0.59);
}
/*Day specific CSS codes */
/* saturday_bg controls the background for the entire body*/
/* while just saturday changes the color of the inner wrapper */
/* In Bangladesh, week starts on Saturday and the day I coded was Saturday, so.. */
.saturday_bg {
    background-image: url(img/saturday.jpg);
    background-color: #FCFA22;}
.saturday {background-color: #f0c718;}

.sunday_bg {
    background-image: url(img/sunday.jpg);
    background-color: #7ebca1;}
.sunday {background-color: #e6e6fa;}

.monday_bg {
    background-image: url(img/monday.jpg);
    background-color: #ffb193;}
.monday {background-color: #dcde73;}

.tuesday_bg {
    background-image: url(img/tuesday.jpg);
    background-color: #f0f8ff;}
.tuesday {background-color: #e6e6fa;}

.wednesday_bg {
    background-image: url(img/wednesday.jpg);
    background-color: #1c7293;}
.wednesday {background-color: #87CEEB;}

.thursday_bg {
    background-image: url(img/thursday.jpg);
    background-color: #CEEB87;}
.thursday {background-color: #A487EB;}

.friday_bg {
    background-image: url(img/friday.jpg);
    background-color: #1c7293;}
.friday {background-color: #f0f8ff;}

.video {text-align: center;}
